nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  nav ul {
    align-items: center;
    flex-direction: column;
  }

  nav ul > li {
    margin: 10px 5px;
  }
}

@media screen and (min-width: 480px) {
  nav ul > li {
    margin: 0 5px;
  }
}


.current {
  color: rgb(var(--main));
}
