.article {
  margin: 20px 0;
  border: 1px solid rgb(var(--secondaryDark));
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(var(--dark), 0.2);
}

.article .header {
  display: flex;
  align-items: center;
  margin-top: -15px;
}

@media screen and (max-width: 500px) {
  .article {
    display: flex;
    flex-direction: column;
  }

  .article .header {
    flex-direction: column;
    background-color: transparent!important;
  }

  .article .header h3 {
    display: inline;
    background-color: rgb(var(--light));
    text-align: center;
  }

  .article .info {
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .article .header {
    column-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    background-color: rgb(var(--light));
  }
}

.article .footer {
  background-color: rgb(var(--dark));
  padding: 5px;
  display: flex;
  column-gap: 10px;
}

.article .content {
  --lh: 1rem;
  overflow: hidden;
  line-height: var(--lh);
  max-height: calc(var(--lh) * 2.5);
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  padding: 5px;
}

.content {
  margin: 10px 5px;
}

.info {
  font-size: 13px;
}

.header h3 {
  margin: 0;
}

.author-link:hover {
  background-color: rgb(var(--secondaryDark));
  color: rgb(var(--main));
}
