<div class="article" *ngIf="!isReadonly(); else readonly">
  <ng-container *ngIf="article">
    <span class="header">
    <h3>{{ article.title }}</h3>
    <span class="info">by <a class="author-link" [routerLink]="'/authors/' + article.author.id">{{ article.author.name }}</a> on {{ article.publishedOn | date: 'medium' }}</span>
  </span>
    <div class="content"> {{ article.content }} </div>
    <div class="footer">
      <a class="link" [routerLink]="'/articles/' + article.id">Read</a>
      <a class="link" (click)="delete()">Remove</a>
    </div>
  </ng-container>
</div>
<ng-template #readonly>
  <div class="page-content">
    <article *ngIf="article; else missing">
      <div class="header">
        <h2>{{ article.title }}</h2>
        by <a class="author-link" [routerLink]="'/authors/' + article.author.id">{{ article.author.name }}</a> on {{ article.publishedOn | date: 'medium' }}
      </div>
      <div class="content">
        {{ article.content }}
      </div>
      <button class="btn-small" (click)="delete()">Remove</button>
    </article>
    <ng-template #missing>No article found! So sad...</ng-template>
  </div>
</ng-template>
