<div class="page-content">
  <h2>Article</h2>
  <h3>Write your article on this very well aligned form</h3>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
    <div class="form-group">
      <p class="field-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" formControlName="title">
      </p>
      <p class="field-group">
        <label for="content">Content</label>
        <textarea id="content" class="form-control" formControlName="content"></textarea>
      </p>
      <p class="field-group">
        <label for="author">Author</label>
        <select id="author" formControlName="authorId">
          <option *ngFor="let author of authors" [ngValue]="author.id">{{ author.name }}</option>
        </select>
      </p>
      <br />
      <button class="btn-single" [disabled]="articleForm.invalid" type="submit">Save</button>
    </div>
  </form>
</div>
